.modal{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(196, 196, 196, 1);
  transition: all 500ms ease;
  z-index: 9999;
}
.contendor{
  width: 559px;
  height: 390px;
  background-color: white;
  margin-top: -390px;
  transition: all 500ms ease;
}

  .h1-agregas{
    font-weight: 400;
    font-size: 30px;
    line-height: 36.57px;
    margin: 40px 217px 24px 62px;
  }

  .img-x{
    width: 22px;
    height: 21.83px;
    margin: 16.77px 25px 0px 0px;
  }

  .personas{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }

  .bold-registrar{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .radio-add{
    width: 20px;
    height: 20px;
    margin:24px 8px 24px 64px;
  }
  .boton-agregar{
    width:22px;
    height:21.83px;
    background: transparent;
    border-color:transparent;
  }

  .continuar-btn{
    background: transparent;
    border-color:transparent;
    padding-bottom: 30px;
    height: 24px;
    border-style: inset;
    border-bottom-color: black;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-left:310px;
    margin-top: 25px;
  }
