.quienes-somos{
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  margin-top: -9px;
}
.unas-img{
  background-image: url('/src/images/pintando.png');
  background-size: cover;
  height: 50vh;
}
.texto{
  display: flex;
  flex-flow: column;
  height: 50vh;
  align-items: center;
  justify-content: center;
  color:black;
  font-family: Montserrat;
  font-size: 20px;
  margin: 0px 5px;
}
.texto>h1{
  text-align: center;
  color:black;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 23px;
}
.agendar, .somos{
  font-family: Montserrat;
  color: black;
  text-align: center;
  padding: 15px;
}
div.text.h1 {
  text-align: center;
  color:black;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 22px;
}
.btn-agendar{
  text-decoration: none;
  font-weight: 600;
  font-size: 22px;
  background: none;
  border-bottom-color: #FF7890;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  padding-bottom: 10px;
  color:black;
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
/* QUIENES SOMOS */
@media(min-width: 1152px){
  div.quienes-somos, .unas-img, .texto{
      flex-direction: row-reverse;
      margin: auto;

    }
  }