.cont-rosa{
  width: 100vw;
  height: 722px;
  background-color: rgba(255, 120, 144, 1);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 40px 16px;

    .serv-indiv{
      width: 288px;
      height: 74px;
      font-weight: 400;
      font-size: 30px;
      line-height: 36.57px;
    }

    .subtitulos-rosa{
      width: auto;
      height: 24px;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
    }

    .texto-rosa{
      width: 288px;
      height: auto;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
}
@media (min-width: 768px) {
  .cont-rosa{
    width:768px;
    height:714px;
    .serv-indiv{
      width: 688px;
      height:122px;
      font-size: 50px;
      line-height: 60.95px;
    }
    .subtitulos-rosa{
      width: auto;
      height: 37px;
      font-size: 30px;
      line-height: 36.57px;
    }
    .texto-rosa{
      width: 688px;
      height: 48px;
      font-size: 20px;
      line-height: 24px;
    }
  }
}

@media (min-width: 1152px) {
  .cont-rosa{
    width:1152px;
    height:708px;
    .serv-indiv{
      width: 765px;
      height:61px;
    }
    .texto-rosa{
      width: 952px;
      height: 48px;
    }
  }
}

@media (min-width: 1440px) {
  .cont-rosa{
    width:1440px;
    .texto-rosa{
      width: 1068px;
      height: 24px;
    }
  }
}