.clou-logo{
  display: flex;
  width: 102px;
  height: 84px;
  margin-top: 10vh;
}

.dnavbar {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  margin: 24px 0px 0px;
  z-index: 999;
  width: 320px;
  height: 123px;
  padding: 0px 100px;
  position: absolute;

}

.logo-desk-header{
  width:106px;
  height: 88px;
}

.logo-negro{
  display: flex;
  margin-left: -140px
}

.cont-desktop-txt{
  display: none;
  visibility: hidden;
}

.navbar-desktop{
  width: auto;
  display: flex;

}

.desktop-txt{
  color: black;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  display: flex;
  list-style: none ;
  align-self: center;
  /* width: 700px; */
  height: 36px;
  flex-direction: row;
  justify-content: center;

  .anchor-servicios{
    text-decoration: none;
  }
  a > li {
    color:black;
  }
  .desktop-serv{
    margin-right: 39.5px;
  }
  .desktop-cita{
    margin: 0px 39.5px;
  }
  .desktop-contacto{
    margin: 0px 39.5px;
  }


    .desktop-cita{
      color:rgba(255, 120, 144, 1);
      border-style:inset;
      border-bottom-color: rgba(255, 120, 144, 1);
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
    }

}
  /* MEDIA QUERIES */
  /* 320px */

  @media (min-width: 320px) and (max-width: 768px){
    .dnavbar{
      width: 300px;
      padding: 10px;
      display: flex;
    }
    .cont-desktop-txt{
      height: 50px;
      flex-direction: row;

    }
  }

  /* 768 px */
  @media (min-width: 768px) {
    .dnavbar{
      width: 768px;
      padding: 0px 20px;
      display: flex;
    }
    .cont-desktop-txt{
      visibility: collapse;
    }
  }

  /* 1152 px */
  @media (min-width: 1152px) {
    .dnavbar{
      width: 1152px;
      display: flex;
    }
    .cont-desktop-txt{
      height: 50px;
      flex-direction: row;
      display: flex;
      visibility: visible;
    }
  }

  /* 1440 px */
  @media (min-width: 1440px) {
    .dnavbar{
      width: 1440px;
    }
  }