.footer-container-desktop{
  width: 320px;
  height: 350px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: black;


  .white-container-desktop{
    width: 320px;
    /* height: 309px; */
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    /* padding: 0px 261px 0px 262px; */

    .logo-footer-desktop{
      width: 98px;
      height: 82px;
    }

    .num-desktop{
      width: 147px;
      text-align: center;
      font-size: 20px;
      font-weight:500 ;
      line-height: 24px;
      margin-top: 11px;

    }

    .correo-desktop{
      width: 233px;
      text-align: center;
      font-size: 20px;
      font-weight:500 ;
      line-height: 24px;
      margin-top: 11px;

    }
    .redes-desktop{
      display: flex;
      flex-flow: row;
      align-items: center;
      justify-content: center;
      margin-top: 11px;

      .fb{
        margin:0px 14px;
      }
    }

    .agendar-cita-footer-desktop{
      width: 287px;
      height: 44px;
      display: flex;
      background-color:#FF7890;
      font-family: Montserrat;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
      border-radius: 10px;
      border-color: transparent;
      color:white;
      margin-top:10px;
          }
  }


  .headtag-desktop{
    height: 109px;
    width: 320px;
    font-size: 14px;
    line-height: 17px;
    background: rgba(246, 246, 246, 1);
    text-align: center;
    color:rgba(148, 148, 148, 1);
    align-items: center;
    display: flex;
    flex-flow: column;
    justify-content: center;

  }

  .derechos-desktop{
    padding: 10px 20px;

  }

  .logo-head-tag-desktop{
    width: 203px;
    height: 25px;
  }
}
 /* MEDIA QUERIES */

  /* 320 px */
  @media (min-width: 320px) {
    .white-container-desktop, .headtag-desktop{
      width: 320px;
    }
    .headtag-desktop{
      width: 320px;
    }
  }
 /* 768 px */
 @media (min-width: 768px){
   .footer-container-desktop{
     width: 768px;
     height: 271px;
     display: flex;
     flex-direction: column;

      .white-container-desktop{
        width:768px;
        display: flex;
        flex-flow: row;
        .agendar-cita-footer-desktop{
          width: 184px;
          height: 72px;
        }
      }
      .headtag-desktop{
        width: 768px;
        height: 45px;
        display: flex;
        flex-direction:row;
      }
   }

 }

 @media (min-width: 1152px){
  .footer-container-desktop{
    width: 1152px;
    height: 271px;
    display: flex;
    flex-direction: column;

    .white-container-desktop{
      width:1152px;
      display: flex;
    }
    .headtag-desktop{
      width: 1152px;

      display: flex;
      flex-direction:row;
    }
  }
 }

 @media (min-width: 1440px){
  .footer-container-desktop{
    width: 1440px;

    .white-container-desktop{
      width:1440px;

    }
    .headtag-desktop{
      width: 1440px;
    }
  }
}