.domicilio {
  height: 170vh;
  width: 100vw;
  background-color: rgba(194, 135, 142, 1);
  color:white;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
div.serv-dom>h1 {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 320px;
  height: 74px;
  font-size: 20px;
  font-weight: 600;
  padding: 0px 30px;
  text-align: center;
}
.domicilio>p{
  text-align: center;
  padding: 0px 30px;
  font-size: 17px;
}
.txt {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.domicilio>ul.zonas{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
  padding-top: 20px;
}