*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Montserrat;
}
.background {
  background-image: url('../images/fondo.png');
  background-size: cover;
  height: 100vh;
  position: relative;
  min-height: 568px;
}
/* HERO CONTAINER */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-top: 40vh;

}


.tus-unas {
font-weight: 400;
width: 240px;
height: 40px;
display: contents;
font-size: 30px;
color:white;
}
h2{
font-weight: 700;
font-size: 32px;
color:white;
}

div.inpt {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
}
/* INPUTS*/
.nombre{
  width: 90vw;
  height: auto;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  margin-bottom: 8px;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  color:#C7C7C7;
  font-size: 30px;

}
.email{
  width: 90vw;
  height: auto;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: 10px;
  text-align: center;
  color:#C7C7C7;
  font-size: 30px;
}
/*placeholder de input*/
.nombre::placeholder{
  font-size: 18px;
  line-height: 20px;
  margin: 0px 0px;
  align-items: center;
}
.email::placeholder{
  font-size: 18px;
  align-items: center;
  line-height: 20px;
}
/*btn agendar e inciar sesion */
.agendar-cita{
  width: 90vw;
  height: 45px;
  display: flex;
  background-color:#FF7890;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8px; */
  border-radius: 10px;
  border-color: transparent;
  color:white;
}
.inicia-sesion{
  width: auto;
  height: 45px;
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1spx;
  font-family: Montserrat;
  font-weight: bold;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  border-color: transparent;
  color:white;
}
.scrll{
  color:white;
  padding-bottom: 10px;
}
/* MEDIA QUERIES */
@media (min-width: 768px) {
  .background {
    background-image: url(https://clounailcare.com/static/media/hero_tablet.575ada0a.jpg);
  }
}
@media (min-width: 1440px){
  .background{
    background-image: url(https://clounailcare.com/static/media/hero_desktop.9e93c0a8.jpg);
  }
}
@media (min-width: 1152px){
  .background{
    background-image: url(https://clounailcare.com/static/media/hero_laptop.48c160f8.jpg);
  }
}
/* H1 y H2 */
@media (min-width: 768px){
  .tus-unas, .dia{
    width: 688px;
    margin-bottom: 24px;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
}
@media (min-width: 1440px){
  .tus-unas, .dia{
    line-height: 60px;
    font-size: 50px;
  }
}
/* INPUT */
@media(min-width: 1152px){
div.inpt{
    width: auto;
    max-width: 575px;
  }
}
@media(min-width: 768px){
  div.inpt{
      width: 572;
      margin: auto;
    }
  }