*{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-family: Montserrat;
}
.background {
  background-image: url('../images/fondo.png');
  background-size: cover;
  height: 100vh;
  position: relative;
  min-height: 568px;
}
/* HERO CONTAINER */
.hero-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
  padding-top: 40vh;

}


.tus-unas {
font-weight: 400;
width: 240px;
height: 40px;
display: contents;
font-size: 30px;
color:white;
}
h2{
font-weight: 700;
font-size: 32px;
color:white;
}

div.inpt {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
}
/* INPUTS*/
.nombre{
  width: 90vw;
  height: auto;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  margin-bottom: 8px;
  border-radius: 10px;
  border-color: transparent;
  text-align: center;
  color:#C7C7C7;
  font-size: 30px;

}
.email{
  width: 90vw;
  height: auto;
  display: flex;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Montserrat;
  border-radius: 10px;
  border-color: transparent;
  margin-bottom: 10px;
  text-align: center;
  color:#C7C7C7;
  font-size: 30px;
}
/*placeholder de input*/
.nombre::placeholder{
  font-size: 18px;
  line-height: 20px;
  margin: 0px 0px;
  align-items: center;
}
.email::placeholder{
  font-size: 18px;
  align-items: center;
  line-height: 20px;
}
/*btn agendar e inciar sesion */
.agendar-cita{
  width: 90vw;
  height: 45px;
  display: flex;
  background-color:#FF7890;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 8px; */
  border-radius: 10px;
  border-color: transparent;
  color:white;

}
.link-agendar-cita{
  text-decoration: none;
}
.inicia-sesion{
  width: auto;
  height: 45px;
  display: flex;
  background: transparent;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: bold;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  border-color: transparent;
  color:white;
}
.scrll{
  color:white;
  padding-bottom: 10px;
}


/* MEDIA QUERIES */

  /* 768 px */
@media (min-width: 768px) {
  .background {
    /* background-image: url(https://clounailcare.com/static/media/hero_tablet.575ada0a.jpg); */
    height: 1024px;
  }
  .hero-container{
    padding-top:400px;
    justify-content: space-between;

  }

  /* H1 y H2 */
  .tus-unas, .dia{
    /* margin-bottom: 24px; */
    font-size: 40px;
    line-height: 48px;
    text-align: center;
  }
  h2.que{
    margin-left:-440px;
    margin-bottom: -47px;
  }
  h2.cas{
    margin-left: 320px;
  }
  div.inpt{
    width: 572;
    height: 72px;
    margin: auto;
  }
  .nombre{
    width: 233px;
    height: 72px;
    margin-left: -390px
  }
  .email{
    width: 316px;
    height: 72px;
    margin-top:-49px;
    margin-right:-190px;
  }
  .agendar-cita{
    width: 184px;
  }
  .inicia-sesion{
    font-size: 20px;
  }
}



/* 1152 px */
@media (min-width: 1152px){
  .background{
    background-image: url('../images/fondomed.png');
    background-size: cover;
    width: 1152px;
    height: 700px;
    position: relative;
  }
  div.inpt{
    width: auto;
    max-width: 575px;
  }

}

/* 1440 px */
@media (min-width: 1440px){
  .background{
    background-image: url('../images/fondolast.png');
    background-size: cover;
    width: 1440px;
    height: 900px;
    position: relative;
  }
  .tus-unas, .dia{
    line-height: 60px;
    font-size: 50px;
  }
  h2.cas{
    margin-left: 560px;
    margin-top: -15px;
  }
}

.form-hero{
  display: contents;
}
