.navbar-desktop{
  width: auto;
  height: auto;
  flex-flow: column;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 100px 124px 100px;
}

.contenedor-agendar{
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: rgba(246, 246, 246, 1);


    .datos{
      color: black;
      width: 242px;
      height: 122px;
      font-weight: 400;
      font-size: 50px;
      line-height: 60,95px;
      text-align: center;
      align-self: center;
      margin-top: 224px;
    }

    .tu-cita{
      color: black;
      width: 288px;
      height: 183px;
      font-weight: 700;
      font-size: 50px;
      line-height: 60,95px;
      text-align: center;
      align-self: center;
      margin: top 0px;

    }

    .form-iniciar-sesion{
      width: auto;
      height: 72px;
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-self: center;
      margin-bottom: 24px;
    }
    .correo-iniciar-sesion{
      width: 316px;
      height: 72px;
      margin-left: 433px;
      align-items: center;
      font-size: 16px;
      font-family: Montserrat;
      font-weight: 500;
      border-radius: 10px;
      border-color: transparent;
      background: white;
      text-align: center;
      color:#C7C7C7;
      margin-right: 24px;
    }

    .password{
      width: 233px;
      height: 72px;
      display: flex;
      background: white;
      font-family: Montserrat;
      border-radius: 10px;
      border-color: transparent;
      text-align: center;
      color:#C7C7C7;
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
      margin-right: 434px;
    }

    .agendar-cita-registro-iniciar-sesion{
      width: 184px;
      height: 72px  ;
      /* display: flex; */
      background-color:#FF7890;
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      justify-content: center;
      align-self: center;
      margin-bottom: 171px;
      border-radius: 10px;
      border-color: transparent;
      color:white;
      margin-left: 16px;
    }

    .inicia-sesion-registro{
      width: auto;
      height: 45px;
      display: flex;
      background: transparent;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-family: Montserrat;
      font-weight: bold;
      border-radius: 10px;
      border-color: transparent;
      color:black;
      margin: 24px auto 123px;
    }
    .anchor-iniciar-sesion{
      text-decoration: none;
      color:black;
    }
}

.footer-desktop{
  width: 1440px;
}

/* MEDIA QUERIES */

  /* 320px */
  @media (min-width: 320px) {
    .contenedor-agendar{
      width: 320px;

      .form-iniciar-sesion{
        flex-direction: column;
        width: 320px;
        height: auto;
        align-items: center;
      }
      .correo-iniciar-sesion{
        width: 288px;
        margin: 0px;

      }
      .password{
        margin-right: 0px;
        margin-top: 16px;
        width: 288px;
      }
      .agendar-cita-registro-iniciar-sesion{
        width: 288px;
        margin-bottom: 100px;
      }

  }
}

  /* 768 px */
  @media (min-width: 768px) {
    .contenedor-agendar{
      width: 768px;
      height: 900px;

      .agendar-cita-registro-iniciar-sesion{
        margin-left:250px;
      }

      .correo-iniciar-sesion{
        width: 316px;
        margin: 0px;
      }
      .password{
        margin-top: 0px;
        margin-left: 24px;
      }
      .form-iniciar-sesion{
        flex-direction: row;
        width: auto;

      }

      .datos{
        width: 448px;
      }
      .tu-cita{
        width: 536px;
        margin-top: -65px;
        height: auto;
      }

      .form-registro{
        align-items: flex-start;
        margin-top: 50px;
      }

      .name{
        width: 233px;
        height: 72px;
        margin-left: 97px;
      }
      .correo{
        width: 316px;
        height: 72px;
        margin-left: 350px;
        margin-top: -86px
      }
      .telephone{
        width: 233px;
        margin-left: 267px;
        margin-bottom: 40px;
      }
      .agendar-cita-registro{
        width: 184px;
        height: 72px;
      }
   }
}

  /* 1152 px */
@media (min-width: 1152px){
  .contenedor-agendar{
    width: 1152px;
    height: 680px;

    .agendar-cita-registro-iniciar-sesion{
        margin-left:450px;
      }

    .tu-cita{
      width: 536px;
      margin-top: -5px;
      height: auto;
    }

    .form-registro{
      align-items: center;
      margin-top: 50px;
      flex-direction: row;
      justify-content: center;
    }
    .name{
      width: 233px;
      height: 72px;
      margin: 0px;
      margin-right: 24px;
    }
    .correo{
      width: 316px;
      height: 72px;
      margin: 0px;
      margin-right: 24px;

    }
    .telephone{
      width: 233px;
      margin: 0px;
    }
    .agendar-cita-registro{
      margin-top:0px;
      margin-left: 24px;
    }
  }
}

 /* 1440 px */
 @media (min-width: 1440px){
  .contenedor-agendar{
    width: 1440px;
    height:800px;
    .agendar-cita-registro-iniciar-sesion{
        margin-left:600px;
      }
  }
 }