.container-marcas{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;

    .titulo-marcas{
      color:black;
      width:288px ;
      height:48px ;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      padding-top: 40px;

    }

    .marcas-texto{
      color:black;
      width:288px ;
      height:144px ;
      font-weight: 400;
      font-size: 20px;
      line-height: 24,38px;
      text-align: center;
      margin-top: 45px;
    }

    .btn-agendar-marcas{
      width: 136px;
      height: 24px;
      position: relative;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      line-height: 24,38px;
      border-bottom-color: rgba(255, 120, 144, 1);
      border-bottom-style: inset ;
      margin-top:30px;
    }
    .anchor-agendar{
      text-decoration: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: 700;
      line-height: 24,38px;
      color: black;

    }

    /* .logos */
      display: flex;
      flex-direction: column;
      align-content: space-around;

      .opi{
        width: 158px;
        height: 49.01px;
        margin: 70px 86px 40px 76px;
      }

      .gelish{
        width: 159.02px;
        height: 82.94px;
        margin: 0px 80.99px 10px 79.9px;
      }

      .renpho{
        width: 158px;
        height: 29.98px;
        margin: 30px 90px 30px 85px;
      }

}

.btn-agendar{
  margin: 40px auto 0;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  border-bottom-color: white;
  border-bottom-style: inset ;
  padding-bottom: 5px;

}
/* MEDIA QUERIES */
/* 768 px */
@media (min-width: 768px){
  .container-marcas{
    .titulo-marcas{
      width: auto;
      font-size: 30px;
      line-height: 36.57px;
      font-weight: 700;
    }
    .marcas-texto{
      width: 514px;
      height: 72px;
      font-size: 20px;
      line-height: 24.38px;
      margin-bottom: 60px;
    }
    .logos{
      width: 595px;
      height: auto;
      margin-bottom: 60px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 30px;
      .gelish{
        margin: 0px;
      }
    }
  }
}
@media(min-width: 1152px){
  .container-marcas{
    width: 1152px;
    height: 512px;
    flex-direction: row;
    align-items: start;
    .titulo-marcas{
      width: 316px;
      height: 74px;
      margin-left: -100px;
      margin-top: 100px;
      padding-top: 0px;
      text-align: left;
    }
    .marcas-texto{
      text-align: left;
      width: 314px;
      height: 120px;
      margin-top: 200px;
      margin-left: -315px;
      line-height: 24.38px;
    }
    .btn-agendar-marcas{
      position: absolute;
      margin-top: 350px;
      margin-left: -315px;
    }
    .logos{
      margin-top:140px;
      justify-content: normal;
    }
  }
}
@media (min-width:1440px){
  .container-marcas{
    width: 1440px;
    .titulo-marcas{
      margin-left: -50px;
    }
    .logos{
      margin-left: 150px;
    }
  }
}