div.mens-container{
  background: black;
  width: 320px;
  height: 424px;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column;
  display: flex;


}
.for{
  font-size: 50px;
  font-weight: 500;
  color: white;
}
.men{
  font-size: 50px;
  font-weight: 700;
  color: white;
  padding-bottom: 10px;
}
div.for-men{
  color:white;
  padding-bottom: 10px;
  align-items: center;
  flex-flow: column;
  display: flex;

}
.servicio-hombre{
  border-top-color:white;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  background: transparent;
  text-align: center;
  padding:10px 40px 20px 40px;
}
.nuestro{
  border-top-style: outset;
  border-top-width:2px ;
  border-top-color:white;
  padding: 10px;

}

.btn-agendar-blanco{
  border-bottom-color:white;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  padding-bottom: 10px;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  color:white;

}
/* MEDIA QUERIES */

/* 768 px */
@media (min-width: 768px) {
 div.mens-container-dos{
  width: 768px;
  height: 424px;
  position: relative;
  display: flex;
  flex-direction: row;}

  div.for-men-dos{
    display: flex;
    flex-direction: row;

    margin: 100px 40px 100px 48.94px;
  }
  .nuestro{
    border-top-style: unset;
    border-left-style: outset;
    border-left-width: 2px;
    border-left-color: white;
    text-align: initial;
    font-size: 20px;
  }
}

/* 1152 px */
@media (min-width: 1152px){
  div.mens-container-dos{
    width: 1152px;
    height: 424px;
    padding: 100px 95px 100px 104.94px;
  }
}

/* 1440 px */
@media (min-width: 1440px){
  div.mens-container-dos{
    width: 1440px;
    height: 424px;
    padding: 100px 0px;
  }
}
