.contenedor-mi-cuenta{
  width:1440px;
  height:2651px;
  background-color: rgba(246, 246, 246, 1);
  display: flex;
  flex-direction: column;

  .mi-cuenta{
    display: flex;
    flex-direction: column;
    width: 766px;
    height: 490px;
    align-items: flex-start;
    margin-left: 100px;
    padding-top: 172px;
    .cuenta-h1{
      font-size: 30px ;
      line-height: 36.57px;
      font-weight:700 ;
      margin-bottom: 40px;
    }
    .img-nombre, .img-direcc, .img-telefono, .img-correo, .img-candado{
      width: 29.33px;
      height: 29.33px;
      margin-right: 11.33px;
      font-size: 30px;
      font-weight: 400;

    }
    .inpt-cuenta{
      width: 725px;
      height: 69px;
      margin-bottom: 16px;
      border-color: transparent;
      border-radius: 10px;
      padding-left: 16px;

    }
    .inpt-cuenta::placeholder{
      color:black;
      font-size: 30px;
      font-weight: 400;
    }

  }
  .btn-guardar-cambios{
      border-style: inset;
      border-top: transparent;
      border-right: transparent;
      border-left: transparent;
      border-bottom-color: black;
      width: 195px;
      height: 28px;
      padding-bottom: 8px;
      background: transparent;
      font-size: 20px;
      line-height: 24px;
      font-weight: 700;
      margin-top: 20px;
    }
  /* REGISTROS */
  .mis-registros{

    width: 766px;
    height: 490px;
    margin-left: 100px;
    margin-top:310px;

    .cuenta-h1{
      font-size: 30px;
      font-weight: 700;
      color:black;
      width:auto;
    }
    .btn-eliminar{
      background: none;
      border: none;
      color: rgba(199, 199, 199, 1);
      text-align:center;
      display: flex;
      margin-left: 620px;
      margin-top: -30px;
      font-size: 20px;
      .eliminar-direcc{
        width: 21.56px;
        height: 20px;
        margin-right: 21.22px;
      }

    }
    .personas-cuenta{
      font-weight: 500;
      font-size: 30px;
      line-height: 36.57px;
      /* margin-right: 430px; */
      color:black;
      width: 309px;
      height: 37px;
    }
    .radio-add-cuenta{
      width: 24px;
      height: 24px;
      margin:40px 8px 34px 0px;
    }

    .nomb-nueva-persona{
      width:724px;
      height: 69px;
      padding: 16px;
      border-radius: 10px;
      border: transparent;
    }
    .nomb-nueva-persona::placeholder{
      font-size: 30px;
      font-weight: 400;
      line-height: 36.57px;
      color: black;
    }
    .boton-otra-per-cuent{
      width: 320px;
      height: 24px;
      background-color: transparent;
      border-color: transparent;
      display: flex;
      margin: 38px 0px 44px;
    }
    .icono-otra-persona-cuenta{
      width: 29px;
      height: 29px;
      margin-right: 22.33px;
    }
    .registro-otra-per{
      font-size: 20px;
      font-weight: 700;
      color: black;
      width: 258px;
      height: 24px;

    }
  }
  .mi-dir{
    margin-top: 140px;
  }
  .mis-registros{
    .nueva-dir{
      width: 688px;
      height: 328px;
      margin-top: 24px;
      font-weight: 400;
      font-size: 30px;
      line-height: 36.57px;
      background-color: white;
      padding: 40px;
    }

    .contenedor-inputs{
      display: flex;
    flex-direction: row;
    }
    .txt-calle-pasos{
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: start;
    }
    .txt-calle, .txt-cp, .txt-fracc, .txt-col, .txt-num{
      width: 292px;
      height: 40px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
    .cp-pasos, .fracc, .colonia-pasos, .inpts-caseta{
      margin-top:16px;
    }
    .txt-calle, .txt-num, .txt-col, .txt-cp, .txt-fracc{
      margin-top:8px;
    }
    .wrap-num-colonia{
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      display: flex;
      flex-direction: column;
      align-content: flex-start;
      justify-content: start;
      margin: 0px 8px 158px 24px;
    }
    .txt-requiere{
      margin-top: 16px;
    }
    .inpts-caseta{
      display: flex;
      flex-direction: row;
      align-items: flex-start;
    }
    .txt-si{
      margin-right: 24px;
    }
    .txt{
      margin-bottom:8px;
    }
    .txt-caseta{
      width: 24px;
      height: 24px;
      margin-right: 8px;
    }
  }

}