.contenedor-faces{
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #c4c4c480;
  width: 1440px;
  height: 2029px;
  position: fixed;
  padding: 120px 441px 368px;
}
.ventana-faces{
  background-color: white;
  width: 559px;
  height: 390px;
  align-content: center;
}
.btn-close-modal{
  width: 22px;
  border: none;
  background: transparent;
  margin-left: 512px;
    margin-top:25px;
  .img-x-mod-face{
    width: 22px;
    height: 22px;
  /*   margin-left: 512px;
    margin-top:25px; */
  }
}
.txt-modal-faces{
  font-size: 30px;
  line-height: 36.57px;
  font-weight: 400;
  width: 511px;
  height: 74px;
  margin-bottom: 24px;
  margin: 26.5px 24px 16px 24px;
  text-align:center;
}
.btn-enviar-faces{
  border: none;
  background: transparent;
  border-bottom-style: inset;
  border-bottom-color: black;
  border-top-style: transparent;
  border-right-style: transparent;
  border-left-style: transparent;
  padding-bottom: 8px;
  width: 373px;
  height: 30px;
  font-size: 20px;
  font-weight: 700;
}
.cont-smile-face{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 345px;
}
.pink-face{
  width: 55px;
  height: 55px;
}
.inpt-comentarios{
  width: 504px;
  height: 91px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 29px;
}
.hidden{
  display: none;
}
