.modal-size{
  width: 559px;
  height: 390px;
}
.cont-modal{
  width: 768px;
  height: 3620px;
}

.boton-otra-per{
  width: 280px;
  height: 24px;
  background-color: white;
  border-color: transparent;
  display: flex;
  margin-top: 64px;
  margin-left: 179px;
}
.agregar-persona{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: black;
  padding: 9px;
}

.close-button{
  width: 22px;
  height: 21.93px;
  margin-left:502px;
}

.h1-agregas{
  font-weight: 400;
  font-size: 30px;
  line-height: 36.57px;
  margin: 40px 217px 24px 62px;
}

.personas{
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-right: 460px;
}

.bold-registrar{
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-right: 460px;
}

.radio-add{
  width: 20px;
  height: 20px;
  margin:24px 8px 24px 64px;
}
.boton-agregar{
  width:22px;
  height:21.83px;
  background: transparent;
  border-color:transparent;
}

.continuar-btn{
  background: transparent;
  border-color:transparent;
  padding-bottom: 30px;
  height: 24px;
  border-style: inset;
  border-bottom-color: black;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-left:310px;
  margin-top: 25px;
}