.container-whitecard{
  width:320px;
  height: 600px;
  color: black;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  align-self: center;
  padding: 60px 16px;
  margin-left: 18px;

}